#################
## Wordpress
#################

# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!wp-content/
# Ignore everything in the "wp-content" directory, except the "themes" directories.
wp-content/*
!wp-content/themes/roots/
!wp-content/themes/harvsworld/

#################
## PHPStorm
#################
.idea

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

#############
## Cloud9
#############

.c9revisions/
.c9/
