.content-info {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: @brand-primary;
  color: @gray-lighter;
}

.content-info h1,
.content-info h2,
.content-info h3,
.content-info h4,
.content-info h5,
.content-info h6 {
  color: #fff;
}

.content-info .widget .list-group-item {
  background-color: @brand-primary;
  border-left: 4px solid @brand-primary;
  border-bottom: 1px solid @gray-light;
}

.content-info .container:last-child {
  margin-top: 40px;
  padding-top: 15px;
  text-align: center;
  background-color: darken(@brand-primary, 10%);
}