.content-info {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: @brand-primary;
  color: @gray-lighter;
}

.content-info h1,
.content-info h2,
.content-info h3,
.content-info h4,
.content-info h5,
.content-info h6 {
  color: #fff;
}

.content-info .widget .list-group-item {
    background-color: @brand-primary;
    border-left: 4px solid @brand-primary;
    border-bottom: 1px solid @gray-light;
}