.para-section {
	/*padding: 50px 0;*/
	h2 {
		.center-block();
		margin-top: 0;
		padding: 15px 0;
	}
	&.dark {
		color: @gray-lighter;
		h1, h2, h3, h4, h5, h6 {
			color: @brand-secondary;
		}
		h2 {
			background-color: @gray-dark;
			color: lighten(@brand-primary, 20%);
		}
		.thumbnail {
			background-color: @gray-dark;
			border-color: @gray;
			.caption {
				color: @gray-lighter;
			}
		}
	}
	&.light {
		background-color: #ffffff;
		h2 {
			background-color: @gray-lighter;
			color: @brand-primary;
		}
	}
}

#home {
	height: 100%;
	background: url("../images/background_home.jpg") no-repeat fixed center center;
	background-size: cover;
	text-align: center;
	span {
		padding: 10px 20px;
		background: rgba(255, 255, 255, 0.7);
	}
	p {
		display: inline-block;
		padding-top: 30px;
		margin-top: 10px;
		border-top: 2px solid #ffffff;
	}
	h1 {
		font-size: (@font-size-h1 * 2);
		color: @gray-lighter;
		text-shadow: 0 4px 8px @gray-dark;
		margin-top: 20%;
	}
	.down {
		position: absolute;
		bottom: 5%;
		left: 0;
		right: 0;
		text-align: center;
		color: @gray-lighter;
		i {
			font-size: (@font-size-h1 * 2);
		}
	}
	@media (max-width: @screen-md-min) {
		span {
			padding: 5px 10px;
			line-height: 2em;
		}
		h1 {
			margin-top: 40%;
			font-size: @font-size-h1;
		}
		.down {
			bottom: 10px;
			i {
				font-size: @font-size-h1;
			}
		}
	}
}