.content-info {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: @brand-primary;
  color: @gray-lighter;
  a {
    color: @brand-secondary;
    &:hover {
      color: darken(@brand-secondary, 10%);
    }
  }
}

.content-info h1,
.content-info h2,
.content-info h3,
.content-info h4,
.content-info h5,
.content-info h6 {
  color: #fff;
}

.content-info .widget .list-group-item {
  background-color: lighten(@brand-primary, 10%);
}
.content-info .widget .list-group-child .list-group-item {
}
.content-info .widget .list-group-item:hover,
.content-info .widget .list-group-item.active {
  background-color: darken(@brand-primary, 10%);
}

.content-info .container:last-child {
  margin-top: 40px;
  padding-top: 15px;
  text-align: center;
  background-color: darken(@brand-primary, 10%);
}